@charset "utf-8";

html, html* {
    margin: 0;
}

body {
    background-color: #151516;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50em;
    margin: auto;
}

header {
    background-color: #101213;
    padding: 1.4em;
    line-height: 0.4em;
    text-align: center;
}

header h1 {
    font-size: 4em;
}

button {
    text-align: center;
}

div {
    padding: 0.4em;
    background-color: #1d2022;
}
div h1 {
    font-size: 1em;
}

main {
    background-color: #101213;
    padding: 1.4em;
    line-height: 0.4em;
}

.homepage p {
    line-height: 1.4em;
}

footer {
    background-color: #101213;
    padding: 1.4em;
    line-height: 4px;
    text-align: center;
}

li {
    line-height: 1.5em;
}

/* scrollbar */ ::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
    transition: 0.7s;
}

a:link {
    color: #3d2fff;
    text-decoration: none;
}

a:visited {
    color: #5f5b96;
    text-decoration: none;
}

a:hover {
    color: #c23535;
    text-decoration: underline;
}